node_modules
.idea
.vscode
.sass-cache
frontend/node_modules
frontend/webpack-stats.json
frontend/package-lock.json
.DS_Store
static
testdjango/__pycache__/
adoptions/migrations/__pycache__/
adoptions/__pycache__/
